.carousel-inner {
  height: 650px;

  @media (max-width: $breakpoint-lg) {
    height: auto;
  }

  @media (max-width: $breakpoint-md) {
    height: 350px;
  }
}

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-indicators li {
  height: 20px;
  width: 40px;
  background: $white;
  border-radius: 0.2rem;
  opacity: 1;
  margin-bottom: 2rem;
  box-shadow: $box-shadow !important;

  @media (max-width: $breakpoint-lg) {
    width: 30px;
    height: 10px;
    margin-bottom: 0.5rem;
  }
}

.carousel-indicators .active {
  background: $primary;
}
