// Custom colors

$primary: #e92569;
$secondary: #767676;
$light: #efefef;
$dark: #0a0a0a;

$input-background: #c7c7c7;

// Breakpoins - Media Queries

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Box shadow

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
